.nav-bar {
  width: 100vw;
  height: 70px;
  background-color: #121212;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  padding: 10px;
}

.icon {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 8;
}

.cart-count {
  color: rgb(246, 253, 251);
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 2px;
}

.gallery {
  height: 90vh;
  display: flex;
  background-image: url("https://previews.123rf.com/images/elenathewise/elenathewise1102/elenathewise110200040/8871761-many-colorful-shopping-bags-on-white-background.jpg");
}

.item-holder {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  background-size: 250px 250px;
}

.item-img {
  opacity: 0;
  width: 250px;
  height: 250px;
}
.selected-img {
  animation-name: animated-img;
  animation-duration: 2s;
  position: absolute;
  width: 250px;
  height: 250px;
  opacity: 0;
}

@keyframes animated-img {
  from {
    width: 50%;
    height: 30%;
    top: 0px;
    left: 0px;
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    width: 0;
    height: 0;
    top: -70px;
    left: 1250px;
    opacity: 1;
    transform: rotate(360deg);
  }
}
